html {
    min-height: 100%;
}
body {
    background-color: brown;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(-225deg, #4014c0, #4034c0, #4054c0);
    min-height: 100%;
    padding-bottom: 5rem;
}
